<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ absURL `css/style.css` }}">
    <title>Анна Никешина | Технический писатель</title>
</head>
<body>
    <nav>
      <a href="{{ .Site.BaseURL }}">CV</a>
      <a href="{{ "pages/" | absURL }}">Проекты</a>
      <a href="{{ "contact/" | absURL }}">Контакты</a>
    </nav>
    {{ block "main" . }}
    {{ end }}
</body>
</html>